[Unit]
Description=Turn the TV off when turning off PC
Before=shutdown.target

[Service]
Type=oneshot
RemainAfterExit=no
ExecStart=/usr/bin/cec-toolbox off
# ExecStart=/usr/bin/true
# ExecStop=/usr/bin/cec-toolbox off

[Install]
WantedBy=poweroff.target